body 
{   background: blue;  /* fallback for old browsers */
    background-image: linear-gradient(#bddcf0, #87cffc);  /* Chrome 10-25, Safari 5.1-6 */
    background-image: linear-gradient(#bddcf0, #87cffc); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
}

.first {
    text-align: center;
}


.second {
    text-align: center;

}

.second a:link, .second a:visited {
    background-color: white;
    color: black;
    border: 1px solid lightblue;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
}

.second a:hover, .second a:active {
    background-color: lightskyblue;
    color: white;
}

.third {
    text-align: center;
    padding: 150px;
}

.fourth {
    text-align: center;
    padding: 150px;
}

.center {
    text-align: center;
}

.hr {
    background-color: #fff;
	border-top: 3px dashed #8c8b8b;
}

h1 {
    font-size: 562.5%;
    margin: 50px auto 0px auto;
    font-style: serif;
    line-height: 2;
}

h2 {
   font-style: serif;
}

h3 {
    font-style: serif;
}

p {
    font-style: serif;
 
}

.image1 {
    float: right;
}

.floatleft {
    float: left;
}


.padding
{
    padding: 250px;
}

.contact {
    text-align: left;
    padding-top: 100px;
    padding-left: 50px;
    padding-bottom: 250px;
}

div.figure {
    float: center;
    width: 30%;
    padding-top: 500px;
    padding-bottom: 500px;
  }

  div.figure p {
    text-align: center;
    font-size: smaller;
    text-indent: 0;
  }

  .stangkoppen {
    padding-top: 50px;
    padding-left: 50px;
    padding-bottom: 50px;
  }

  .fotostangkop {
 text-align: center;
  }

.productinformatie {
    padding: 250px;
}