body {background: blue;  /* fallback for old browsers */
    background-image: linear-gradient(#bddcf0, #87cffc);  /* Chrome 10-25, Safari 5.1-6 */
    background-image: linear-gradient(#bddcf0, #87cffc); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
}

.first {
text-align: center;
padding: 150px 350px 250px 250px;

}

.second {
    padding: 200px 500px;
    text-align: center;
    color: black;
    text-decoration: none;
    display: inline-block;
}

.second a:link, .second a:visited {
    background-color: white;
    color: black;
    border: 1px solid lightblue;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
}

.second a:hover, .second a:active {
    background-color: lightskyblue;
    color: white;
}



.third {
    text-align: center;
    padding: 150px;
   
}

.fourth {
    text-align: center;
    padding: 150px;
  
}

.center {
    text-align: center;
}

.hr {
    background-color: #fff;
	border-top: 3px dashed #8c8b8b;
}

h1 {
    font-size: 562.5%;
    margin: 50px auto 0px auto;
    font-family: fantasy;
    line-height: 2;
}

h2 {
    font-family: Arial, Helvetica, sans-serif; 
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

.image1 {
    float: right;
}

.floatleft {
    float: left;
}


.padding
{
    padding: 250px;
}